VITE_SUPABASE_URL=https://tfgqrpijratgqdhwsxlz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRmZ3FycGlqcmF0Z3FkaHdzeGx6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyMTMzMDEsImV4cCI6MjA5Nzc4OTMwMX0.2SIpwlMZ9wg5rcLX6fk7UcU40NQyLLpLcfBlsS3xc64